<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.css' />
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				<div class="alert alert-success" role="alert">
           			退出成功
          		</div>
          		<a class="btn btn-primary" href="/">返回</a>
			</div>
		</div>
	</div>

  </body>
</html>