<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.css' />
  </head>
  <body>

	  	
  	<div class="container">


        <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <a class="btn btn-primary" href="#" onclick="history.go(-1)">返回</a>

        <% } if (success) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
          <a class="btn btn-primary" href="/">返回</a>
        <% } %>
        


        
    </div>

  </body>
</html>